.grid {
  display: grid;
  border: 2px blue solid;
  width: 800px;
  height: 1000px;
  grid-template: 33% 33% 33% / 33% 33% 33%;
}

.box {
  background-image: url("reebok-logo-700x400")
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}
img{
 maximum-width: 200px;
 maximum-height: 200px;
}
