h1 {
	font-size: 35px;
  color: black;
}

h2 {
	font-size: 35px;
}
h3 {
	font-size: 35px;
}

h4{
	font-size: 35px;
}

h5{
	font-size: 35px;
}

h6{
	font-size: 35px;
}

h7{
	font-size: 35px;
}

img{  height: 80px:
	width: 80px;
}
      
